*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.login-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;


  
}
.login-box{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background-color: #FFFFFF;
    padding-left:10%;
    padding-right:10%;
}


.login-form{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top: 6%;
}
.login-input{
    width: 50%;
    height: 20%;
    border: 1px solid #E2E2E2;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    font-family: Open Sans;
    letter-spacing: 0.25 px;
    border-radius: 5px;
    padding-left: 3%;
    margin-bottom: 3%;
}

.login-input2{
    width: 100%;
    height: 40%;
    border: 1px solid #E2E2E2;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    font-family: Open Sans;
    letter-spacing: 0.25 px;
    border-radius: 5px;
    padding-left: 3%;
    margin-bottom: 3%;
}
.loginBtn{
    height: 50px;
        width: 100px;
        border-radius: 10px;
        background-color: cadetblue;
        color: white;
}
#anchor{
    text-decoration: none;
}
.addition{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.addition>pre{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.25 px;
    font-size: Open Sans;
    color: #000000;
    text-align: center;
}
.addition>a{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.25 px;
    font-size: Open Sans;
    color: #352D66;
    text-align: center;
    text-decoration: none;
    
}